*{
   margin:0;
   padding:0;
   font-family: 'Fira Sans', sans-serif;
}
header{
    width:100%;
    height: 80px;
    background-color: #1CA0F5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
#logo{
    float: left;
}
#imglogo{
    width: 60px;
    height: 60px;
    padding-top: 10px;
}

#menu li{
    font-size:25px;
    list-style-type: none;
    float: left;
    padding-left: 6%;
    margin-top: 22px;
    
}
li a{
    text-decoration:none;
    color: black;
}
#menu li a:hover{
    color: white;
}
#icon-search{
    font-size: 20px;
    float: left;
    margin-top: 28px;
    margin-left: 3%;
}
#inputSearch{
    float: left;
    margin-top:23px;
    height: 25px;
    width: 15%;
    border-radius:10px;
    margin-left: 20px;
    
}
#carrito{
    width: 25px;
    float: left;
    margin-left: 25px;
}
#cart{
   font-size: 30px;
   margin-top: 18px;
   float:right;
   color: black;
}
#icon-user{
    font-size: 40px;
    margin-right:2%;
    margin-top: 16px;
    float:right;
    color: black;
   
  
}
#usuario{
    font-size:20px; 
    float: right;
    margin-right: 10px;
    margin-top:22px;
    text-decoration: none;
    color: black;
}
#usuario:hover{
   color: white;
}
#banner{
    width: 100%;
    padding-top: 80px;
}

main{
    width: 95%;
    height: 1100px;
    margin-left: 33px;
    margin-top: 10%;
    border: 2px solid gray;
}

main  h3{
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}
article{
    width: 100%;

    display: flex;
}
article h3{
    font-size: 35px;
    text-align: left;
    padding-top: 20px;
}
article #column1{
    font-size: 30px;
    width: 50%;
    margin-top: 10%;
    margin-left:6% ;
    
  
    
}
#column1 a{
    text-decoration: none;
    color: black;
   
}
#column1 img{
    width: 70px;
    padding-top: 5%;
}
#column1 label{
    padding-top: 20px;
    padding-left: 5%;
}
#column1 #row1{
    display: flex;
    margin-top: 15%;
}

#column2{
    font-size: 30px;
    width: 50%;
    margin-top: 10%;
   
}
#column2 h3{
    text-align: center;
   
}
#column2 p{
   padding-top:18%;
   text-align: center;
}
#column2 #t{
    padding-top:29%;
 }
 #column2 #w{
    padding-top:29%;
 }
footer{
    width: 100%;
}

#container{
    width: 100%;
    height: 300px;
    margin-top: 5%;
    display: flex;
}
#container h3{
    font-size: 25px;
}
footer img{
  width: 50px;
  
}
#alia{
    width: 25%;
    height: 300px;
    margin-left: 5%;

}
#apple{
    font-size:100px;
    float: left;
    margin-left: 10%;
}
#samsumg{
width: 110px;
float: left;
height:110px ;
margin-left: 22%;
margin-bottom:20px;
}
#amd{
    width: 80px;
   margin-left: 25px; 
}
#intel{
    width: 100px;
    margin-left:22%; 
}
#inform{
    width: 25%;
    height: 300px;
    margin-left: 10%;
}

#inform li{
    font-size: 25px;;
   padding-left: 5%;
   margin-top: 0%;
   list-style:none;
   padding-top: 5%; 
}

#redes{
    width: 25%;
    height: 300px;
    margin-left: 5%;

}
#redes img{
    width: 70px;
    padding-left: 10%;
    padding-top: 10%;
}

    
    



